@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(243 244 246);
}

::selection {
  background-color: rgb(59 130 246);
  color: white;
}
